@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
body {
  padding-top: 65px;
}
header {
  font-size: 1.2em;
  font-weight: 700;
}

article p,
article ul li,
article code {
  padding: 10px;
  font-size: 0.8em;
}

article code {
  background-color: #dcdcdc;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

#main-doc {
  padding: 20px 10px;
  position: relative;
  margin-left: 400px;
  margin-bottom: 50px;
}

#navbar {
  height: 100%;
  position: fixed;
  border-right: solid;
  z-index: 1;
  top: 0;
  left: 0;
  width: 17%;
  background-color: #831e1e;
  border-color: rgba(0, 22, 22, 0.4);
}
#navbar li {
  list-style: none;
  position: relative;
  width: 100%;
  border-top: 1px solid;
}

#navbar a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  cursor: pointer;
  overflow-wrap: break-word;
}

#navbar a:hover {
  color: #f1f1f1;
  font-weight: 900;
}

#navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}
@media screen and (max-width: 450px) {
  #navbar {
    padding-top: 15px;
    width: 50px;
  }
  #navbar a {
    font-size: 0.5em;
  }
  #main-doc {
    font-size: 1em;
    font-weight: 400;
  }
}
@media (max-width: 1100px) {
  #navbar {
    padding-top: 5px;
    width: 20%;

    font-size: 0.5em;
  }
  #navbar a {
    font-size: 0.8em;
    font-weight: 200;
  }
  #main-doc {
    font-size: 1em;
    font-weight: 400;
    margin-left: 200px;
  }
}
